.sektor {
  padding: var(--section-padding);
  margin-top: 20px;

  .sektor-header {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 20px;
  }

  .sektor-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
  }
}
