.dropdown-article {
  width: 100%;
  height: max-content;

  .dropdown-header {
    background-color: var(--clr-neutral-100);

    display: flex;
    align-items: center;
    justify-content: space-between;

    .dropdown-heading {
      padding: 10px;
    }
  }

  .dropdown-body {
    display: grid;
    grid-template-rows: 0fr;

    transition: grid-template-rows 300ms;

    .dropdown-content {
      overflow-x: hidden;

      padding: 0px 10px;
    }
  }

  .dropdown-body--active {
    grid-template-rows: 1fr;
  }
}
