#contactPage {
  .wrapper {
    .about {
      .about-banner {
        .banner-img {
          width: 100%;
          aspect-ratio: 1 / 1;
          object-fit: cover;

          filter: grayscale(1);
        }
      }

      .about-content {
        .content-brand {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 20px;

          .brand-logo {
            padding: 3px;
            width: var(--fs-secondary-heading);
            aspect-ratio: 1 / 1;
            object-fit: cover;

            overflow: hidden;

            border-radius: 100%;
            border: 2px solid var(--clr-dark);
          }

          .brand-type {
            font-family: var(--ff-secondary-heading);
            font-size: var(--fs-secondary-heading);
          }
        }

        .content-article {
          text-align: justify;
        }
      }
    }
  }
}
