#homePage {
  .articles {
    padding: var(--section-padding);
    margin-top: 40px;

    header {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;

      margin-bottom: 20px;

      .subheadline {
        color: var(--clr-primary-400);
        margin-bottom: -15px;
      }
    }
  }
}
