#aboutPage {
  .article {
    padding: var(--section-padding-md);

    .article-about {
      margin-bottom: 40px;

      display: grid;
      gap: 30px;

      .about-paragraph {
        text-align: justify;
      }
    }

    .article-dropdown {
      display: grid;
      gap: 10px;
    }
  }
}

@media (min-width: 1024px) {
  #aboutPage {
    .article {
      display: grid;
      grid-template-columns: 1fr 400px;
      align-items: start;
      gap: 40px;
    }
  }
}
