#homePage {
  .gallery {
    header {
      width: 100%;
      aspect-ratio: 1 / 0.6;

      background-color: var(--clr-primary-400);

      display: flex;
      justify-content: center;
      align-items: center;

      .headline {
        text-align: center;
        font-size: var(--fs-650);

        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    main {
      background-color: var(--clr-light);

      .link {
        .gallery-image {
          width: 100%;
          aspect-ratio: 1 / 0.8;
          object-fit: cover;
        }
      }

      .show-datas {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;

        padding: var(--section-padding);

        margin-top: 30px;

        .data-card {
          background-color: var(--clr-primary-400);

          width: 100%;
          height: fit-content;
          padding: 40px 20px;

          display: flex;
          justify-content: start;
          align-items: center;
          flex-direction: column;

          .card-headline {
            font-size: var(--fs-900);
          }

          .line {
            width: 100px;
            height: 2px;
            background-color: var(--clr-neutral-900);

            &.top {
              margin-top: 15px;
              margin-bottom: 5px;

              width: 200px;
            }

            &.bottom {
              margin-top: 0px;
              margin-bottom: 30px;
            }
          }

          .card-label {
            font-weight: 200;
            font-size: var(--fs-500);
            text-align: center;

            width: 190px;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  #homePage {
    .gallery {
      header {
        aspect-ratio: unset;
        height: 230px;
      }

      main {
        margin-top: 10px;
        .link {
          .gallery-image {
            aspect-ratio: 1 / 1;
          }
        }

        .show-datas {
          grid-template-columns: repeat(2, 1fr);

          .data-card {
            height: 100%;
          }
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  #homePage {
    .gallery {
      header {
        height: 270px;

        .headline {
          font-size: 2.3rem;
          font-family: var(--font-poppins-bold);
        }
      }

      main {
        .show-datas {
          grid-template-columns: repeat(4, 1fr);
          gap: 10px;

          padding: 0px;
          overflow-x: scroll;

          .data-card {
            box-sizing: border-box;
          }
        }
      }
    }
  }
}
