.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--light-color);
  width: fit-content;
  padding: 8px;

  color: var(--clr-neutral-900);
  text-transform: capitalize;
  font-family: var(--ff-body);
  font-weight: var(--ff-semi-bold);
  font-size: var(--fs-button);

  cursor: pointer;

  transition: filter 300ms;

  &.primary {
    background-color: var(--clr-primary-400);
  }

  &.small {
    font-size: var(--fs-200);
    padding: 5px 8px;
  }

  &:hover {
    filter: brightness(0.85);
  }
}

/* @media (min-width: 768px) {
  .btn {
    &.small {
      padding: 8px 20px;
      font-size: 1rem;
    }
  }
}

@media (min-width: 1024px) {
  .btn {
    padding: 14px 28px;

    &.small {
      padding: 10px 22px;
      font-size: 1rem;
    }
  }
} */
