.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--clr-light);
  width: fit-content;
  padding: 8px;

  color: var(--clr-neutral-900);
  text-transform: capitalize;
  font-family: var(--ff-body);
  font-weight: var(--ff-semi-bold);
  font-size: var(--fs-button);

  cursor: pointer;

  transition: filter 300ms;

  &.primary {
    background-color: var(--clr-primary-400);
  }

  &.small {
    font-size: var(--fs-200);
    padding: 5px 8px;
  }

  &:hover {
    filter: brightness(0.85);
  }
}
