#newsPage {
  .news-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

@media (min-width: 768px) {
  #newsPage {
    .news-list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (min-width: 1024px) {
  #newsPage {
    .news-list {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
