.card-sektor {
  background-color: var(--clr-light);

  width: 100%;
  aspect-ratio: 1 / 1;
  padding: 5px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .card-label {
    font-size: var(--fs-650);
    font-family: var(--ff-secondary-heading);
    font-weight: var(--fw-bold);
    text-transform: capitalize;
  }
}

.card-sektor--with-icon {
  background-color: var(--clr-neutral-100);

  box-shadow: 1px 1px 2px var(--clr-dark);

  border-radius: 10px;

  .card-icon {
    font-size: var(--fs-700);
  }

  .card-line-decoration {
    width: 35px;
    height: 1px;
    background-color: var(--clr-dark);
  }

  .card-label {
    font-size: var(--fs-200);
    font-family: var(--ff-body);
    font-weight: var(--fw-regular);
    color: var(--clr-neutral-600);
    text-transform: capitalize;

    margin-bottom: -5px;
  }

  .card-label--main {
    font-size: var(--fs-600);
    font-weight: var(--fw-bold);
    font-family: var(--ff-secondary-heading);
  }
}

@media (min-width: 1024px) {
  .card-sektor {
    .card-label {
      font-size: var(--fs-650);
    }
  }

  .card-sektor--with-icon {
    .card-label {
      font-size: var(--fs-300);
    }
  }
}
