#facilityPage {
  .facilities {
    --height: 200px;
    --padding: 20px;

    display: grid;
    grid-template-columns: 1fr;
    gap: 2px;

    padding: var(--section-padding);
    margin-top: 10px;

    header {
      display: flex;
      justify-content: start;
      align-items: center;

      height: var(--height);

      .facilities-headline {
        padding: var(--padding);
      }
    }
  }
}

@media (min-width: 768px) {
  #facilityPage {
    .facilities {
      --padding: 20px 30px;

      grid-template-columns: repeat(2, 1fr);
      gap: 15px;

      header {
        height: 100%;
        width: 100%;

        align-items: start;
      }
    }
  }
}

@media (min-width: 1024px) {
  #facilityPage {
    .facilities {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
