#homePage {
  .history {
    padding: var(--section-padding-md);
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;

    header {
      .history-banner {
        position: relative;

        .banner-background {
          width: 100%;
          aspect-ratio: 1 / 0.65;
          object-fit: cover;
        }

        .banner-content {
          position: absolute;
          bottom: 25px;
          left: 25px;

          width: 150px;
          aspect-ratio: 1 / 1;
          padding: 20px;

          display: flex;
          align-items: center;
          justify-content: center;

          background-color: var(--primary-color);

          .text {
            text-align: left;
            font-size: var(--fs-base);
            font-family: var(--font-poppins-bold);
          }
        }
      }

      .links {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 15px;

        .link {
          display: flex;
          justify-content: start;
          align-items: center;
          gap: 20px;

          width: 100%;

          .icon {
            font-size: var(--fs-body);

            height: 100%;
            aspect-ratio: 1 / 1;

            display: flex;
            justify-content: center;
            align-items: center;

            border: 1px solid var(--clr-neutral-900);
          }

          .text {
            font-family: var(--ff-body);
            font-weight: var(--fw-bold);
          }
        }
      }
    }

    main {
      .description {
        margin-top: 30px;
      }
    }
  }
}

@media (min-width: 768px) {
  #homePage {
    .history {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (min-width: 1024px) {
  #homePage {
    .history {
      header {
        .history-banner {
          .banner-background {
            aspect-ratio: unset;
            height: 350px;
          }

          .banner-content {
            width: min-content;
            .text {
              font-size: var(--fs-650);
            }
          }
        }
      }
    }
  }
}
