#facilityPage {
  .creativerooms {
    header {
      .creativerooms-headline {
        text-align: center;
        margin: 40px 0px;
      }
    }

    main {
      padding: var(--section-padding);
    }
  }
}
